<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.yummy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_ramen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_ramen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".YummyMainScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start" />
        <activity android:name=".RecipeLookingFilters" />
        <activity android:name=".AddingRecipe" />
        <activity android:name=".DisplayRandomRecipe" />
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>